.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
   
}
.screen{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(204,115,25);
    background: linear-gradient(90deg, rgba(204,115,25,0.9037990196078431) 0%, rgba(255,170,0,1) 51%, rgba(206,172,48,1) 99%);
    border:  solid black 4px;
    border-radius: 15px ;
    height: 12%;
    width: 27%;
    font-family: cursive;
    font-size: 26px;
}
.number{
    width: 120px;
    border-radius: 15px;
    height: 60px;
    font-size: 30px;
    border: solid 4px black;
    background-color: darkgray;
    font-family: cursive;
    padding: 1rem;
}
.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 10px;
    
}
.znaki{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 1rem;
    
}
.znak{
    border: solid 2px black;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: darkgray;
    font-family: cursive;
    font-size: 35px;
    border: solid 3px black;
}
.oblicz{
    background-color: aqua;
    border-radius: 15px ;
    height: 12%;
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-size: 26px;
    background: rgb(204,115,25);
    background: linear-gradient(90deg, rgba(204,115,25,0.9037990196078431) 0%, rgba(255,170,0,1) 51%, rgba(206,172,48,1) 99%);
    border:  solid black 4px;
    
}
.active-btn{
    background-color: orange;
    color: blue;
}
body{
    background: rgb(8,23,125);
    background: linear-gradient(90deg, rgba(8,23,125,0.9037990196078431) 0%, rgba(8,0,255,1) 51%, rgba(22,8,119,1) 99%);
}
.oblicz:hover{
    color: blue;
    transform: scale(1.07);
}
.znak:hover{
    color: blue;
    


}